.vercel
.next
node_modules/
out/
.bak/
prisma/migrations

#files
.env
.env.local
package-lock.json
public/sw.js
public/workbox-*.js
public/worker-*.js
test.js
test.mjs
yarn-error.log
total.util.js
yarn.lock